* {
  box-sizing: border-box;
}

/* Typography */

body {
  color: #52706a;
  font-weight: 400;
  font-size: 13px;
  font-family: lato, sans-serif;
  line-height: 1.85;
  letter-spacing: 0.54px;
}

h2,
h3,
.site-wrap .gform_wrapper h3.gform_title {
  font-weight: 400;
  font-size: 21px;
  font-family: alverata-informal, serif;
  line-height: 1.19;
  letter-spacing: 1.67px !important;
  text-transform: uppercase;
}

.site-wrap .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.site-wrap .gform_wrapper textarea.medium {
  color: #52706a;
  font-size: 13px;
  letter-spacing: 0.54px;
}

.site-wrap .gform_wrapper .gform_footer input[type=submit] {
  display: block;
  width: auto;
  margin-left: auto;
  padding: 6px 60px;
  color: #f7f7f5;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 2.51px;
  text-transform: uppercase;
  background-color: #4c3f42;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 150ms ease;
}

.site-wrap .gform_wrapper .gform_footer input[type=submit]:hover {
  opacity: 0.85;
}

@media (min-width: 641px) {
  body {
    font-size: 16px;
    line-height: 1.6875;
    letter-spacing: 0.91px;
  }

  h2,
  h3,
  .site-wrap .gform_wrapper h3.gform_title {
    font-size: 23px;
    line-height: 1.25;
    letter-spacing: 1.83px !important;
  }

  .site-wrap .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  .site-wrap .gform_wrapper textarea.medium {
    font-size: 16px;
    letter-spacing: 0.91px;
  }
}

/* Layout, Spacing, General */

img {
  max-width: 100%;
  height: auto;
}

main {
  background: #f7f7f5;
}

.landing__header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  text-align: center;
}

.header__logo {
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.header__featured-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.landing__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.landing__header li {
  margin: 20px;
}

.landing__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.main__inner {
  display: flex;
  flex-direction: column;
}

.main__inner .text {
  order: 1;
}

.main__inner .overlap {
  order: 2;
}

.main__inner .gform_wrapper {
  order: 3;
}

.overlap .wp-block-group__inner-container {
  display: flex;
  max-width: 270px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.overlap .wp-block-image {
  margin: 0;
}

.overlap .wp-block-image:first-child {
  z-index: 1;
  flex: 0 0 70%;
  margin-right: -30%;
}

.overlap .wp-block-image:last-child {
  z-index: 0;
  flex: 0 0 60%;
  padding-top: 72%;
}

.landing__aside {
  display: none;
}

.site-wrap .gform_wrapper .gform_heading {
  margin-bottom: 0;
}

.site-wrap .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.site-wrap .gform_wrapper textarea.medium {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #52706a;
  border-radius: 0;
}

.site-wrap .gform_wrapper textarea.medium {
  width: 100%;
  height: 204px;
  border: 1px solid #52706a;
}

.dg-credit {
  flex: 0 0 100%;
}

.dg-credit a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  color: #af8e6d;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.dg-credit img {
  margin-left: 4px;
}

@media (min-width: 641px) {
  .site-wrap .gform_wrapper ul.gform_fields {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  .site-wrap .gform_wrapper ul.gform_fields li.gfield {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .site-wrap .gform_wrapper ul.gform_fields li:nth-child(4) {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .site-wrap .gform_wrapper .ginput_container_textarea,
  .site-wrap .gform_wrapper textarea.medium {
    height: 100%;
  }

  .site-wrap .gform_wrapper .top_label input.medium {
    width: 100%;
    width: calc(100% - 20px);
  }
}

@media (min-width: 840px) {
  main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 28px;
  }

  .main__inner .text {
    order: 2;
  }

  .main__inner .overlap {
    order: 1;
  }

  .main__inner .gform_wrapper {
    order: 3;
  }

  .landing__header {
    display: flex;
    flex: 1 1 280px;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: auto;
    margin: 0;
    padding: 58px 40px 0 0;
  }

  .header__logo {
    max-width: none;
    margin: 40px 0;
  }

  .landing__header .landing__socials {
    display: none;
  }

  .landing__main {
    position: relative;
    flex: 1 1 400px;
    width: auto;
    margin: 0;
    border-right: 1px solid #52706a;
    border-left: 1px solid #52706a;
  }

  .landing__main::before {
    position: absolute;
    top: 94px;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #52706a;
    content: '';
  }

  .main__inner {
    position: relative;
  }

  .landing__main p {
    max-width: 48ch;
  }

  .overlap .wp-block-group__inner-container {
    max-width: 342px;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .landing__aside {
    display: block;
    flex: 0 0 100px;
    padding-top: 20px;
  }

  .landing__aside .landing__socials {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .landing__aside li {
    width: 40px;
    margin: 16px;
    text-align: center;
  }

  .dg-credit a {
    justify-content: flex-end;
    padding-top: 46px;
    padding-bottom: 0;
    font-size: 15px;
    line-height: 1;
  }
}

@media (min-width: 990px) {
  .site-wrap {
    padding: 28px;
    background: #fff;
  }

  main {
    padding: 58px 10px 10px 40px;
  }

  .landing__header {
    padding-right: 58px;
  }

  .landing__main {
    max-width: 800px;
    padding-right: 40px;
    padding-left: 58px;
  }

  .landing__aside {
    flex: 1 1 auto;
    padding-left: 40px;
  }

  .header__logo,
  .header__featured-image {
    max-width: 274px;
  }
}

@media (min-width: 1680px) {
  .overlap .wp-block-group__inner-container {
    margin-bottom: -10%;
  }
}

@media (min-width: 1860px) {
  .overlap .wp-block-group__inner-container {
    margin-bottom: -20%;
  }
}

@media (min-width: 2000px) {
  .overlap .wp-block-group__inner-container {
    margin-bottom: -32%;
  }
}

/* Pop Up Styles */
.pum-container h2 {
  position: relative;
}

.pum-container h2::after {
  display: block;
  width: 94px;
  height: 1px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #f7f7f5;
  content: '';
}

.pum-container p {
  font-weight: lighter;
}

.pum-container .pum-content.popmake-content {
  padding: 30px 20px 20px;
  color: #f7f7f5;
  letter-spacing: 0.91px;
  text-align: center;
  background-color: #4c3f42;
  box-shadow: 0 0 0 10px #f7f7f5, 0 0 0 11px #4c3f42;
}

.pum-content .gform_wrapper .top_label div.ginput_container {
  text-align: center;
}

.pum-content .gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0;
}

.pum-content .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  width: 100%;
  max-width: 320px;
  color: #f7f7f5;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #f7f7f5;
  border-radius: 0;
  transition: border-color 150ms ease;
}

.pum-content .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):active,
.pum-content .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus {
  border-color: #52706a;
  outline: none;
}

.pum-content .gform_wrapper .gform_footer input[type=submit] {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 6px 60px;
  color: #4c3f42;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 2.51px;
  text-transform: uppercase;
  background-color: #f7f7f5;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 150ms ease;
}

.pum-content .gform_wrapper .gform_footer input[type=submit]:hover {
  opacity: 0.85;
}

.pum-container.popmake .pum-content+.pum-close {
  color: #f7f7f5;
  font-size: 28px;
  font-family: alverata-informal, serif;
}

.pum-container.popmake .pum-content+.pum-close:focus {
  outline: none;
}

.pum.pum-overlay {
  background-color: rgba(246, 246, 244, 0.7);
}

.pum-content .gform_wrapper div.validation_error {
  display: none;
}

.pum-content .gform_wrapper .validation_message {
  padding-top: 0 !important;
  color: #f3c0c0;
  font-weight: lighter;
  text-align: center;
}

.pum-content .gform_wrapper li.gfield.gfield_error {
  padding-top: 0;
}

@media (min-width: 840px) {
  .pum-container h2 {
    font-size: 32px;
  }

  .pum-container p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .pum-container p+p {
    margin-top: 20px;
  }

  .pum-container.pum-responsive {
    position: static !important;
    width: 589px !important;
    height: 589px !important;
    margin-top: 240px;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .pum-container .pum-content.popmake-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 80px 80px;
    border-radius: 50%;
  }

  .pum-container .gform_wrapper {
    margin-top: 0;
  }

  .pum-container.popmake .pum-content+.pum-close {
    position: relative;
    top: -100%;
    color: #4c3f42;
    font-size: 32px;
  }
}